body{
    background: #f3f6fd!important;
}
body::-webkit-scrollbar {
    background-color: #fefefe;
    width: 10px;
}
*[role='button']{
    cursor: pointer;
}
body::-webkit-scrollbar-thumb {
    background: #094873;
    border-radius: 15px;
    border: 2px solid white;
}
.ProfileName .pic .hupload {

    border-radius: 0;
    box-shadow:unset;
    height: 70px;
    width: 70px;
    position: relative;
    left: 0;
    transform: unset;
}
.ProfileName .pic .hupload img{
    border-radius: 100%;
    box-shadow: 0 5px 20px -12px rgba(0,26,102,.4);
}
.ProfileName{
    padding: 32px 10px 15px;
    margin: 0!important;
}
.box2{
    /*box-shadow: 0 0 11px -6px #00000021;*/
    background: #ffffff;
    border-radius: 6px;
}
.box3{
    box-shadow: 0 5px 19px -5px #00000017;
    background: #ffffff;
    border-radius: 14px;
}
.bbox{
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
}
.ProfileName .title {
    padding: 0.5rem .625rem .625rem;
    color: #202636;
}
hr{
    border-color: #bec7d170;
}
.pside{
    margin-top: 20px!important;
}
ul.pside li{
    position: relative;
}
ul.pside li a {
    padding: 15px 23px!important;
}
ul.pside li a i{
    margin-right: 12px;
    margin-top: -1px;
    color: #727378;
}
ul.pside li a i svg{
    width: 19px;
    height: 19px;
}
ul.pside li a span{
    font-size: 15px;
    margin-right: 24px;
    color: #727378;
}
ul.pside li a{
    border: none;
}
ul.pside li a:hover span ,ul.pside li.active a span ,ul.pside li.active a i {
    color: #094873;
}
ul.pside li.active:before{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    background: #0a4773;
    width: 4px;
    height: 54%;
    border-radius: 13px 0 0 13px;
    top: 11px;
}
.hupload .upload{
    background: white;
    border-radius: 100px;
    cursor: pointer;
    height: 22px;
    position: absolute;
    width: 22px;
    left: 0;
    top: 26px;
    color: #727378;
}
.hupload .upload i{
    color: #727378;
    font-size: 14px;
}
.hupload:hover .upload{
    transform: translateY(100%);
    box-shadow: 0 5px 20px -12px rgba(0,26,102,.4);
}
.router{
    background: white;
    margin-bottom: 26px;
    margin-top: 8px;
    height: 43px;
    display: flex;
    align-items: center
}
.router i{
    height: 100%;
    width: 49px;
    background: #f5f3f4;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.router span{
    color: #a2a2a2;
    font-size: 15px;
    user-select: none;
}
.box2.p{
    padding: 24px 18px;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 19px 22px;
}
.font-16{
    font-size: 14px;
}
.color-info{
    color: #f9a725;
}
.color-next{
    color: #05337c
}
.flex-center{
    display: flex;
    align-items: center;
}
.ml-2{
    margin-left: 9px;
}

.mt-3{
    margin-top: 18px;
}
.w-100{
    width: 100%;
}
.border-14{
    border-right: 14px;
}
.menu-bl{
    border-left: 2px solid #e4e4e48f;
    margin-left: 33px;
    height: 87px;
}

.menu-bl-p{
    padding: 60px 40px;
}
.name-menu-order{
    font-size: 13px;
    line-height: 2.17;
}
.bbox > .title{
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    margin: 0 9px;
    font-size: 17px;
    font-weight: 600;
    color: #5c5b56;
}
.p-12{
    padding: 15px;
}
.box2 > .title{
    padding: 21px 41px;
    font-weight: 600;
    font-size: 18px;
    color: #57564f;
    position: relative;
}
.box2 > .title._2{
    padding-left: 15px;
}
.box2 > .title._2 > span{
    position: relative;
}
.box2 > .title:not(._2):before{
    content: "";
    display: block;
    height: 5px;
    width: 15px;
    border-radius: 100px;
    background: #094873;
    position: absolute;
    right: 18px;
    top: 47%;
    bottom: 50%;
}
.box2 > .title._2 > span:before{
    content: "";
    display: block;
    height: 5px;
    width: 15px;
    border-radius: 100px;
    background: #094873;
    position: absolute;
    top: 47%;
    right: 34px;
    bottom: 50%;
}
.btns-viewpager li div{
    padding: 11px 0;
    position: relative;
    display: flex;
}
.btns-viewpager li{
    display: inline-block;
    list-style-type: none;
    padding: 0 15px;
}
.btns-viewpager li span.name {
    color: #a3a3a3;
    margin-right: 10px;
}
.btns-viewpager li.active span.name {
    color: #094873;
}
.btns-viewpager li.active div:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #094873;
    border-radius: 5px 5px 0px 0px;
    bottom: 0;
}
.btns-viewpager li .count{
    background: #a3a3a3;
    color: white;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin-left: 10px;
}
.btns-viewpager li.active span.count{
    background: #094873;
    color: white;
}
.min-h-500{
    min-height: 600px;
}
.noting-orders{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
}
.breadcrumbs{
    margin-right: 12px;
}
.noting-orders img{
    margin-bottom: 15px;
}
.breadcrumbs li,.breadcrumbs a{
    color: #a2a2a2;
    font-size: 15px;
    user-select: none;
}
.product-item-h{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.product-item-h .infos{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.product-item-h .infos i{
    padding: 18px;
    margin-right: 28px;
}
.product-item-h img{
    width: 94px;
    height: 94px;
    box-shadow: 0 0 33px -2px #3c3c3c2e;
    border-radius: 13px;
    margin: 17px 29px 17px 38px;
}
.product-item-h .infos .texts{
    display: flex;
    flex-direction: column;
}
.product-item-h .infos .texts span{
    color: #838383;
}
.add-shop{

    background: #094873;
    color: white;
    padding: 16px;
    border-radius: 8px;
    margin-left: 32px;
}

.justify-content-between{
    display: flex;
    justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-start{
    display: flex;
    align-items: start;
}
.text-noting{
    color: #9e9e9e;
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
}

.m-0{
    margin: 0!important;
}
/*loading*/
@keyframes loading-dot {
    to {
        opacity: 0.1;
        transform: translate3d(0, -1rem, 0);
    }
}
.loading-dot {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-dot > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #094873;
    border-radius: 50%;
    animation: loading-dot 0.6s infinite alternate;
}
.loading-dot > div:nth-child(2) {
    animation-delay: 0.2s;
}
.loading-dot > div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loading-dot-small {
    to {
        opacity: 0.1;
        transform: translate3d(0, -6px, 0);
    }
}
.loading-dot.small{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.resend-code .loading-dot.small{
    padding-top: 10px;
}
.loading-dot.small > div {
    width: 8px;
    height: 8px;
    margin: 0rem 0.1rem;
    background: #ffffff;
    border-radius: 50%;
    animation: loading-dot-small 0.6s infinite alternate;
}
.loading-dot.small.blue > div{
    background: #094873;
}
.loading-dot.small > div:nth-child(2) {
    animation-delay: 0.2s;
}
.loading-dot.small > div:nth-child(3) {
    animation-delay: 0.4s;
}
/*end loading*/
.item-address{
    border: 1px solid #bdbdbd;
    position: relative;
    margin: 10px 20px;
    padding-left: 49px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}
.item-address:before{
    background: linear-gradient(90deg,#fdc500 48px,#002969 0) repeat-x;
    background-size: 96px 3px;
    border-radius: 3px 3px 0 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    top: -3px;
    width: 100%;
}
.item-address .edit {
    height: 100%;
    min-height: 100%;
    padding: 12px;
    background: #eff2f7;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    position: absolute;
}
.item-address .name{
    padding: 15px;
    border-bottom: 1px solid #bdbdbd;
}
.d-flex{
    display: flex;
}
.item-address .cities{
    border-left: 1px solid #bdbdbd;
}
.item-address .section .item{
    padding: 12px;
    color: #7a7a7e;
    font-size: 13px;

}
.item-address .section .item span{
    color: #232323;
    font-size: 14px;
}
.item-address .section .item.bb{
    border-bottom: 1px solid #bdbdbd;
}
.mb-3{
    margin-bottom: 26px;
}
label{
    display: inline-block;
    margin: 5px;
}
label + .info{
    font-size: 12px;
    color: #929292;
}
.hr-2{
    width: 100%;
    margin-top: 17px;
    border-bottom: 2px solid #094873;
    margin-bottom: 16px;
}
.bbox .title2{
    padding: 12px;
    background: #fcfcfc;
    border-radius: 9px 9px 0 0;
    border-bottom: 1px solid #d9d9d9;
}
[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea{
    font-size: 14px;
}

.mt-17{
    margin-top: 17px;
}
.p-status{
    filter: grayscale(100%);
    opacity: .6;
    flex-direction: column;
}
.p-status.active{
    filter: grayscale(0%);
    opacity: 1;
}
.sidebar-exit{
    display: flex;
    padding: 5px 23px !important;
    width: 100%;
    align-items: center;
}
.sidebar-exit i{

    margin-right: 12px;
    margin-top: -1px;
    color: rgb(114, 115, 120);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.3125rem;
    transition: all 0.3s ease-in-out 0s;

}
.sidebar-exit i svg{

    width: 18px;
    height: 18px;
}
.sidebar-exit span{
    color: #727378;
    font-size: 15px;
    margin-right: 24px;
}
.btn-new-ticket {
    border: none;
    padding: 15px 16px;
    background: white;
    box-shadow: 0 2px 20px -5px #97979763;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 15px;
    margin: 10px 9px;
    cursor: pointer;
}
button.btn-new-ticket:hover {
    border-radius: 10px;
    background: #094873;
    color: white;
}
.sub-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-title .info{
    font-size: 14px;
    color: #a2a2a2;
}
.table1 {
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    border: none;
}
.table1 tbody tr {
    transition: 0.2s;
}
.table1 tbody tr:nth-child(2n) {
    background-color: white;
    border: none;
}
.table1 thead th {
    border: none !important;
    text-align: center;
}
.table1 tbody tr:hover th i{
    background: #d4dde3;
    color: #747474;
}
.table1 tbody tr:hover {
    background-color: #b8b8b80f;
}

.table1 thead,.table1 tbody{
    border: none!important;
}
.table1 tbody tr {
    border-top: 1px solid #d9d9d9;
}
.table1 thead tr {
    background-color: #f3f6fd;
    text-align: left;
}
.noting-table-item{
    text-align: center;
    padding: 18px;
}
.justify-content-center{
    justify-content: center;
}
.icon-email{
    transition: 0.2s;
    background: #f3f6fd;
    width: 38px;
    height: 38px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #adadad;
}
.back-ticket{
    float: left;
    color: #747474;
    font-size: 11px;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}
.upload-box{
    padding: 35px;
    border: 1px dashed #b9c6d3;
    border-radius: 4px;
}
.upload-box label{
    cursor: pointer;
}
.upload-box .info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.upload-box .info svg{
    width: 50px;
    height: 50px;
    color: #094873;
}
.upload-box .info .text{
    margin-top: 9px;
}
.d-none{
    display: none;
}
.info-file{
    font-size: 12px;
    color: #767676;
    margin-top: 12px;
    padding-right: 11px;
}
/*auth*/
body.auth,.auth #app, .auth .grid-container,.auth .grid-x.align-middle.align-center{
    height: 100%;
}
.auth .grid-x.align-middle.align-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -35px;
}
.auth .logo{
    margin-bottom: 35px;
}

#salamat-logo .cls-4{
    fill: #ffdc00;
}
#salamat-logo .cls-3,#salamat-logo:hover .cls-3{
    fill: #747474;
}

.auth-box {
    position: relative;
    background: #fff;
    border: none;
    border-radius: 23px;
    margin-bottom: .3125rem;
    overflow: hidden;
    box-shadow: -5px 5px 27px -10px #2a272736;
    padding: 37px 27px;
}
.auth-box h4{
    font-size: 15px;
    text-align: center;
    margin-bottom: 21px;
}

.back-to-home{
    margin-top: 20px;
}
.back-to-home a{
    color: #2484ff!important;
    font-size: 11px;
    font-weight: 500;
}
.auth-box .body-login .info{
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}
.body-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.input-phone,.input-login{
    display: inline-flex;
    width: 235px;
    height: 40px;
    background: #f0f0f0;
    padding: 5px;
    border-radius: 6px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.input-login.rtl{
    flex-direction: row-reverse;
}
.input-phone .select-code,.input-login .icon{
    cursor: pointer;
    direction: ltr;
    font-size: 12px;
    display: flex;
    color: #606060;
    align-items: center;
    height: 79%;
    border-right: 1px solid #80808075;
    justify-content: space-evenly;
    padding-right: 8px;
}
.input-login .icon{
    padding-right: 9px;
    padding-left: 4px;
}
.input-login.rtl .icon{
    border-right: none;
    border-left: 1px solid #80808075;
    padding-right: 4px;
    padding-left: 9px;
}
.input-login .icon svg{
    width: 20px;
    height: 20px;
}
.input-phone input,.input-login input{
    background: transparent;
    border: none;
    height: 100%;
    margin: 0;
    direction: ltr;
    padding: 0 0 0 8px;
    font-size: 13px;
}
.input-login.rtl input{
    direction: rtl;
    padding: 0 8px;
}
.input-phone input:focus,.input-login input:focus{
    background: transparent;
    border: none;
    outline: none;
}
.input-login input::placeholder{
    color: #878787;
}
.input-phone .select-code i{
    margin: 0 6px;
}
.input-phone .select-code span{
    margin-left: 3px;
}
.input-phone .select-code img{
    margin-left: 9px;
    width: 22px;
    height: 16px;
    background: burlywood;
    border-radius: 3px;
}
.btn-login{

    height: 40px;
    background: #094873;
    color: white;
    cursor: pointer;
    min-width: 235px;
    margin-bottom: 20px;
}
.btn-login:hover{
    background: #053658
}
.btn-login:disabled{
    background: #747474;
    opacity: 0.5;
    cursor: not-allowed;
}
.or-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    user-select: none;
    margin-bottom: 20px;
    width: 235px;
}
.or-line .line{
    width: 100%;
    height: 1px;
    background: #cfcfcf;
}
.or-line .text{
    height: 25px;
    background: white;
    border: 1px solid;
    border-radius: 50px;
    max-width: 25px;
    font-size: 12px;
    color: #b7b7b7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44%;
}
.auth-box .icon-google svg{
    display: flex;
    background: #fff;
    border-radius: 6px;
    height: 32px;
    padding: 5px;
}
.google-button__text{
    transition: 0.2s;
    font-weight: 500;
    padding: 0;
}
.auth-google,.open-auth-email{
    padding: 8px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #515151;
    margin-bottom: 5px;
}
.open-auth-email{
    margin-bottom: 15px;
}
.auth-box .icon-google svg{
    height: 25px;
}
.auth-google:hover{
    background: #4285f4;
    border-radius: 6px;
}
.auth-google:hover .google-button__text{
    margin-right: 8px;
    color: white;
}
.open-auth-email:hover .google-button__text{
    color: #8f8f8f;
}
.open-auth-email .icon-email {
    margin-top: 2px;
    width: 18px;
    height: 18px;
    margin-left: 4px;
    color: #515151;
    background: transparent;
}
.open-auth-email:hover .icon-email{
    color: #8f8f8f;
}
.auth-box .q{
    font-size: 11px;
    color: #ababab;
}
.f-ho{
    display: flex;
    flex-direction: column;
}
.body-login .check-q label{
    font-size: 12px;
}
.body-login .check-q{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 7px;
    margin-right: 5px;
}
.invalid-feedback{
    position: fixed;
    top: 23px;
    right: 18px;
    padding: 8px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    border-radius: 6px;
}
.auth-box .alert{
    border: 1px solid;
    padding: 6px 12px;
    background: #cf2e2e;
    color: #ffffff;
    border-radius: 6px;
    font-size: 13px;
    margin-bottom: 19px;
}
.body-login .number-edit .text svg{
    width: 15px;
    height: 15px;
}
.body-login .number-edit .text{
    display: flex;
    align-items: center;
    color: #d9b856;
    cursor: pointer;
}
.body-login .number-edit .number{
    color: #094873;
}
.body-login .number-edit{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-code{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}
.input-code input{
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.auth-box .timer{
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.body-login .timer{
    cursor: alias;
}
.body-login .resend-code span{
    cursor: pointer;
}
.body-login .resend-code{
    margin-bottom: 21px;
    font-size: 13px;
    color: #094873;
}
body.auth #salamat-logo{
    height: 35px;
}
.hw100{
    width: 100%;
    height: 100%;
}

.simple-item{
    box-shadow: 0 4px 31px 0px rgb(0 0 0 / 9%);
}
.simple-item .cover{
    min-height: unset;
}
.simple-item .add-shop- {
    opacity: 0;
    border-radius: 100px;
    position: absolute;
    background: #00123463;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    width: 90%;
    height: 90%;
}
.simple-item:hover .add-shop- {
    opacity: 1;
    width: 100%;
    height: 100%;
    border-radius: 0;
}
.simple-item .meta li {
    border-radius: 8px;
    font-size: 12px;
    color: white;
    font-weight: 600!important;
    padding: 2px 6px;
    margin-bottom: 5px;
}
.simple-item .meta li span{
    font-weight: 600!important;

}
.simple-item *{
    transition: 0.2s;
}
.simple-item .body{
    padding: 17px;
}
.simple-item .body .model{
    font-size: 13px;
    color: #666666;
    margin:6px 0 ;
}
.simple-item .price{
    margin-top: 5px;
    color: #3b4359;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
}
.price .old{
    color: #bbbbbb;
     text-decoration: unset;
    margin-bottom: 2px;
}
.simple-item .price span{
    font-size: 100%;
}
.simple-item .body .title{
    padding: 0;
    font-size: 13px;
    text-align: right;
    margin: 0;
    color: black;
    font-weight: normal;
}
.simple-item .body .basket{
    transition: 0.2s;
    width: 40px;
    height: 40px;
    background: #094873;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.simple-item .body .basket:hover{
    background: #8ed557;
    box-shadow: 1px 4px 8px 1px #0000002e;

}
.simple-item .body .price-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e9f0;
    padding-bottom: 18px;
}
.simple-item .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.simple-item .buttons span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 6px 0;
}
.simple-item .buttons span:hover{
    color: #346284;
    transform: translateY(-3px);
}
.circle-hover:before {
    content: "";
    display: block;
    width: 0;
    height: 0px;
    position: absolute;
    background: #004b7e2e;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
}
.circle-hover:hover:before {
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    position: absolute;
    background: #004b7e2e;
    z-index: -1;
    border-radius: 25px;
}
.simple-item .buttons span svg{
    width: 15px;
    height: 15px;
}
.simple-item .meta li{
    background: #527e9d;
}

.bg-l {
    overflow: hidden;
}

.bg-l:before {
    transition: 0.3s;
    opacity: 0;
    display: block;
    content: "";
    position: absolute;
    background: radial-gradient(#bdb9b945, #9d9d9d21, #ffffff00, #ffffff00);
    width: 0px;
    height: 0px;
    left: var(--mouse-x,0);
    top: var(--mouse-y,0);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 100px;
}
.bg-l:hover:before {
    opacity: 1;
    width: 150px;
    height: 150px;
}
.simple-item .cover ul.badge li.s{
    padding: 0;
}
.simple-item .cover ul.badge li.s .star {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 3px 18px 1px #0000001a;
}

.simple-item .cover ul.badge li.s .star .icon {
    background: #8ed557;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
}
.simple-item .cover ul.badge li.s .star .text {
    width: 100%;
    background: white;
    color: #626262;
    text-align: center;
    height: 0;
    padding: 0;
}
.simple-item:hover .cover ul.badge li.s .star .text {
    height: auto;
    padding: 6px 0;
}
.product-box .bbox{
    border-color: #e6e9f0;
}
.product-box{
    padding: 23px 25px;
    display: flex;
    flex-direction: row;
}
.product-box hr {
    border-top: 1px solid white;
    margin: 0 17px;
}
.mw-100{
    max-width: 100%;
}
.product-box .buttons ul.badge{
    margin: 0;
}
.product-box .buttons ul.badge li{
    list-style-type: none;
}
.product-box .buttons ul.badge li.s{
    padding: 0;
}
.product-box .buttons ul.badge li.s .star {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 3px 18px 1px #0000001a;
}

.product-box .buttons ul.badge li.s .star .icon {
    background: #8ed557;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
}
.product-box .buttons ul.badge li.s .star .text {
    width: 100%;
    background: white;
    color: #626262;
    text-align: center;
    padding: 7px;
    font-size: 11px;
}
.product-box .buttons ul.badge li div.bs div:nth-child(2n) {
    margin: 16px 0;
}
.product-box .buttons ul.badge li div.bs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f4f9;
    border-radius: 38px;
    margin: 19px 0 13px;
    padding: 23px 0 17px;
}
.product-box .buttons span{
    width: 30px;
    /*height: 30px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-box .buttons{
    margin-left: 24px;
}
.product-box .buttons .circle-hover:hover{
    color: #3a5a70b5;
}
.product-box .buttons .circle-hover:hover:before{
    width: 38px;
    height: 38px;
    z-index: 0;
}
.product-box .name h1{
    font-size: 18px ;
    color: #3c425a;
    font-weight: 500;
}
.product-box .name-en .zm{
    user-select: none;
    background: #275f84;
    color: white;
    border-radius: 20px;
    padding: 5px 13px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
}

.product-box .name-en .nm{
    direction: ltr;
    font-size: 15px;
    color: #707070;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 9px;
}
.product-box .name-en .zm svg{
    margin-left: 6px;
    width: 21px;
}
.product-box .name-en {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 13px;
}
.product-box .last-update {
    user-select: none;
    background: #ffffff;
    border-radius: 20px;
    padding: 5px 13px;
    font-size: 14px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 3px 1px 20px -7px #00000036;
    margin-top: 20px;
    max-width: 100%;
    width: auto;
}
.product-box .last-update svg{
    width: 18px;
    height: 18px;
    margin-left: 9px;
}
.star-rating{
    direction: rtl;
    align-items: flex-start;
    display: flex;
    font-size: .9375rem;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 20px;
}
.text-l {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mt50{
    margin-top: 50px;
}
.product-box .price{
    font-size: 25px;
    font-weight: 800;
    color: #39435c;
}
.product-box .price span{
    margin-right: 14px;
    font-weight: 400;
    font-size: 18px;
}
.product-box .d-add-shop .count-box{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    user-select: none;
    margin-top: 22px;
}
.product-box .d-add-shop .count-box .count{
    width: 29px;
    text-align: center;
    font-size: 23px;

}
.product-box .d-add-shop{
    width: auto;
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 305px;
}
.product-box .d-add-shop .count-box .btn{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-box .d-add-shop .count-box .btn.circle-hover:before{
    z-index: 0;
}
.product-box .d-add-shop .add{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #8ed557;
    color: white;
    padding: 12px;
    margin-right: 13px;
    border-radius: 10px;
    font-size: 17px;
    height: 50px;
    width: 197px;
    margin-top: 22px;
}
.product-box .d-add-shop .add svg{
    margin-left: 5px;
}
.product-box .d-add-shop .add span{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.info-orng{
    width: 100%;
    user-select: none;
    background: #fff7e4;
    color: #f9ab03;
    border-radius: 10px;
    padding: 9px 13px;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    white-space: nowrap;
    margin-top: 16px;
}
.info-orng svg{
    margin-left: 10px;
}
.product-page .meta-box ul li{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    flex-wrap: wrap;
}
.product-page .meta-box ul li span{
    min-width: unset;
    color: #454f62;
    font-weight: 600;
    display: flex;
}
.product-page .meta-box ul li span svg{
    width: 20px;
    height: 20px;
}
.product-page .meta-box ul li a{
    color: #595959;
}
.product-page .meta-box{
    margin-top: 12px;
}
.product-box .more-features{
    background: #f3f6fd;
    padding: 15px;
    border-radius: 16px;
    margin-top: 70px;
}
.product-box .more-features ul{
    margin-right: 27px;
}
.product-box .more-features ul li{
    position: relative;
    list-style-type: none;
    display: flex;
    font-size: 13px;
    align-items: center;
    color: #4c5366;
    margin-bottom: 6px;
}
.product-box .more-features ul li.title{
    font-size: 15px;
    margin-bottom: 15px;
}
.product-box .more-features ul li:last-child{
    margin-bottom: 0;
}
.product-box .more-features ul li:before {
    content: "";
    display: block;
    position: absolute;
    right: -22px;
    width: 6px;
    height: 6px;
    background: #c3c9d7;
    border-radius: 14px;
}
.product-box .more-features ul li.title:before {
     width: 10px;
     height: 5px;
     background: #faaa02;
 }
.product-box > .mw-p{
    max-width: calc(100% - 72px);
}
.product-box .contact{
    margin-top: 20px;
}
.product-box .contact .whatsapp,.product-box .contact .telegram{
    border: 1px solid;
    border-radius: 10px;
    padding:10px 8px;
    font-size: 12px;
    color: #2eba40;
    display: flex;
    align-items: center;
    word-spacing: -1px;
    transition: 0.2s;
    margin-bottom: 15px;
}
.product-box .contact .telegram{
    color: #2ca4e1;
}
.product-box .contact .whatsapp svg,.product-box .contact .telegram svg{
    margin-left: 8px;
}
.product-box .contact .whatsapp:hover {
    background: #2eba40;
    color: white;
}
.product-box .contact .telegram:hover {
    background: #2ca4e1;
    color: white;
}
.product-box .send-day .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f4f9;
    border-radius: 38px;
    width: 47px;
    height: 47px;
    justify-content: center;
    margin: 19px 0 13px 15px;
}
.product-box .send-day .text{

}
