.ProfileName .pic .hupload {

    border-radius: 0;
    box-shadow:unset;
    height: 70px;
    width: 70px;
    position: relative;
    left: 0;
    transform: unset;
}
.ProfileName .pic .hupload img{
    border-radius: 100%;
    box-shadow: 0 5px 20px -12px rgba(0,26,102,.4);
}
.ProfileName{
    padding: 32px 10px 15px;
    margin: 0!important;
}
.box2{
    box-shadow: 0 0 11px -6px #00000021;
    background: #ffffff;
    border-radius: 6px;
}
.ProfileName .title {
    padding: 0.5rem .625rem .625rem;
    color: #202636;
}
hr{
    border-color: #bec7d170;
}
.pside{
    margin-top: 20px!important;
}
ul.pside li{
    position: relative;
}
ul.pside li a {
    padding: 15px 23px!important;
}
ul.pside li a i{
    margin-right: 12px;
    margin-top: -1px;
    color: #727378;
}
ul.pside li a i svg{
    width: 19px;
    height: 19px;
}
ul.pside li a span{
    font-size: 15px;
    margin-right: 24px;
    color: #727378;
}
ul.pside li a{
    border: none;
}
ul.pside li a:hover span ,ul.pside li.active a span ,ul.pside li.active a i {
    color: #094873;
}
ul.pside li.active:before{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    background: #0a4773;
    width: 4px;
    height: 54%;
    border-radius: 13px 0 0 13px;
    top: 11px;
}
.hupload .upload{
    background: white;
    border-radius: 100px;
    cursor: pointer;
    height: 22px;
    position: absolute;
    width: 22px;
    left: 0;
    top: 26px;
    color: #727378;
}
.hupload .upload i{
    color: #727378;
    font-size: 14px;
}
.hupload:hover .upload{
    transform: translateY(100%);
    box-shadow: 0 5px 20px -12px rgba(0,26,102,.4);
}
.router{
    background: white;
    margin-bottom: 26px;
    margin-top: 8px;
    height: 43px;
    display: flex;
    align-items: center
}
.router i{
    height: 100%;
    width: 49px;
    background: #f5f3f4;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.router span{
    color: #a2a2a2;
    font-size: 15px;
    user-select: none;
}