body{
    background: #f3f6fd;
}
.card-3-part{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 20px;
}
.card-3-part .c1{
    width: 100%;
    padding: 30px;
    border: 2px solid red;
    border-bottom: none;
}
.card-3-part .c2{
    width: 50%;
    border: 2px solid red;
    padding: 24px 8px;
    font-size: 13px;
}
.card-3-part .n2{
    width: 33.3%;
    border: 2px solid red;
    padding: 24px 8px;
    font-size: 13px;
}
.card-3-part .n2.b-l-none{
    border-left: none;
}
.card-3-part .n2.b-r-none{
    border-right: none;
}.card-3-part .n2.p{
     padding: 14px 8px;
 }
.card-3-part .c2:last-child{
    border-right: none;
}
.s-card .title, .s-card .total{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-l {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.vertical li{
    padding: 0 8px;
}
.vertical li:first-child{
    padding: 11px 0;
    text-align: center;
}
.sticky-container .GlobalSide{
    padding: 0;
}
.GlobalSide a i{
    font-size: 100%;
}

.input-days-admin{
    width: 60px;
    display: inline;
}
.btn{
    background: #0a5385;
    color: white;
    padding: 11px;

}
.m-0{
    margin: 0!important;
}
.GlobalNavigation{
    padding: 0 4px;
}
.more-price{
    font-size: 13px;
    margin: 10px 0;
    color: #216499;
}
label{
    padding: 3px;
}

body::-webkit-scrollbar {
    background-color: #fefefe;
    width: 12px;
}
body::-webkit-scrollbar-thumb {
    background: #094873;
    border-radius: 18px;
    border: 2px solid white;
}
.pagination2{

}
.pagination2 li{
    border: 1px solid #3492c6;
}
.pagination2 li .page-link.active{
    border: 1px solid #094873;
    color: #094873;
}
.text-center{
    text-align: center;
}
/*loading*/
@keyframes loading-dot {
    to {
        opacity: 0.1;
        transform: translate3d(0, -1rem, 0);
    }
}
.loading-dot {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-dot > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #094873;
    border-radius: 50%;
    animation: loading-dot 0.6s infinite alternate;
}
.loading-dot > div:nth-child(2) {
    animation-delay: 0.2s;
}
.loading-dot > div:nth-child(3) {
    animation-delay: 0.4s;
}
/*end loading*/
.m-auto{
    margin: auto;
}
.jc-bs3-container.container{

    max-width: 501px!important;
    margin: auto!important;
}
.btn-edit-danger{
    transition: 0.2s;
    background: #ff00001c;
    color: #131313;
    border-radius: 10px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-edit-blue {
    transition: 0.2s;
    background: rgba(10, 131, 255, 0.25);
    color: #131313;
    border-radius: 10px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-edit-blue:hover{
    box-shadow: 0px 0px 15px -6px #0000009e;
    background: #6ebbff;
    color: white!important;
}
.btn-edit-danger:hover i{
    color: white!important;
}
.btn-edit-danger:hover{
    box-shadow: 0px 0px 15px -6px #0000009e;
    background: #ff6e6e;
    color: white!important;
}
.m-5{
    padding: 5px;
}
.pp{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.d-flex{
    display: flex;
}
.m-0{
    margin: 0;
}
.btn-edit-blue.export{
    cursor: pointer;
    float: left;
    width: auto;
    height: auto;
    padding: 7px 14px;
    margin: 8px 0px;
}

.jconfirm-buttons{
    width: 100%;
}
.f-loading{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #b5b5b594;
    display: flex;
    align-items: center;
    justify-content: center;
}
.check-label{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cfdcea;
    border-radius: 7px;
    width: 50px;
    height: 40px;
    padding: 0;
    margin-right: 4px;
}

.checkbox-non-m input[type='checkbox']{
    margin: 0 !important;
}
